svg {
    fill: #629499 !important;
    background: #629499 !important;
}

g {
    fill: white !important; 
}

@import 'deviantart.css';
@import 'discord.css';
@import 'monkeytype.css';
@import 'reddit.css';
@import 'youtube.css';
