/* ======== Root Vars ========  */
:root {
  --textinputs: #343c4c;
  --pagecolor: #2e3440;
  --popup-color: #3b4252;
  --btn-color: #455981;
  --secondarytext: #5e81ac;
  --usertext: #81a1c1;
  --redtext: #8c3c4c;
  --whitetext: #dedede;
  --bodytext: #629499;
  --replytext: #b3dcde;
  --contacts: #7dc5cd;
  --background-secondary-alt: #2e3440 !important;
}
