@import url("all.css");

:root {
  --textinputs: #2e3440;
  --pagecolor: #2e3440;
  --yt-searchbox-background: #7dc5cd !important;
  --secondarytext: #4b535e;
  --whitetext: #dedede;
  --bodytext: #629499;
  --replytext: #b3dcde;
  --replybkg: #7646ff;
  --contacts: #7dc5cd;
  --gradientleft: rgba(90, 50, 230, 0.9);
  --gradientright: rgba(173, 83, 240, 0.8);
  --yt-spec-text-secondary: #629499 !important;
  --btn-color: #2e4675;
}
html:not(.style-scope)[dark],
:not(.style-scope)[dark] {
  --yt-spec-brand-background-solid: var(--pagecolor);
  --yt-spec-brand-background-primary: var(--pagecolor);
  --yt-spec-brand-background-secondary: rgba(40, 40, 40, 0.95);
  --yt-spec-general-background-a: var(--pagecolor);
  --yt-spec-general-background-b: #161616;
  --yt-spec-general-background-c: #0d0d0d;
  --yt-spec-error-background: #f9f9f9;
  --yt-spec-text-primary: var(--bodytext);
  --yt-spec-text-primary-inverse: #0d0d0d;
  --yt-spec-text-secondary: #aaa;
  --yt-spec-text-disabled: #717171;
  --yt-spec-call-to-action: #3ea6ff;
  --yt-spec-icon-active-other: #fff;
  --yt-spec-icon-inactive: #909090;
  --yt-spec-icon-disabled: #606060;
  --yt-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
  --yt-spec-verified-badge-background: #629499;
  --yt-spec-suggested-action: #252a3a;
  --yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.2);
  --yt-spec-touch-response: #fff;
  --yt-spec-paper-tab-ink: rgba(255, 255, 255, 0.3);
  --yt-spec-filled-button-text: #0d0d0d;
  --yt-spec-call-to-action-inverse: #065fd4;
  --yt-spec-brand-icon-active: #fff;
  --yt-spec-brand-icon-inactive: #909090;
  --yt-spec-brand-button-background: #c00;
  --yt-spec-brand-link-text: #ff4e45;
  --yt-spec-filled-button-focus-outline: rgba(255, 255, 255, 0.7);
  --yt-spec-call-to-action-button-focus-outline: rgba(62, 166, 255, 0.3);
  --yt-spec-brand-text-button-focus-outline: rgba(255, 78, 69, 0.3);
  --yt-spec-inactive-text-button-focus-outline: #606060;
  --yt-spec-brand-subscribe-button-background: var(
    --yt-spec-brand-button-background
  );
  --yt-spec-wordmark-text: #fff;
  --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
  --yt-spec-selected-nav-text: #fff;
  --yt-spec-themed-blue: #3ea6ff;
  --yt-spec-themed-green: #2ba640;
  --yt-spec-themed-overlay-background: rgba(0, 0, 0, 0.8);
  /* OTHER */
  /* --yt-spec-text-secondary: #629499 !important;
  --yt-spec-static-brand-white: #629499 !important; */
}

/* ytd-toggle-button-renderer #button.ytd-toggle-button-renderer {
  color: #455981 !important;
  text-transform: inherit;
} */

paper-button.ytd-subscribe-button-renderer {
  background-color: var(--btn-color) !important;
}

#contents,
.style-scope.ytd-page-manager,
.style-scope.ytd-two-column-browse-results-renderer {
  background-color: var(--pagecolor) !important;
}

.ytd-searchbox,
#search-input,
#search,
#search:hover,
#search:focus,
.ytd-searchbox:focus,
.ytd-searchbox:hover {
  background: #2e3440 !important;
  border: #2e3440 !important;
}

.style-scope.ytd-destination-shelf-renderer:hover {
  background-color: transparent;
}

#like-bar {
  background: #629499 !important;
}

.yt-simple-endpoint.style-scope.yt-formatted-string {
  color: #b3dcde !important;
}
