:root {
  --textinputs: #2e3440;
  --pagecolor: #2e3440;
  --btn-color: #455981;
  --secondarytext: #4b535e;
  --whitetext: #dedede;
  --bodytext: #629499;
  --replytext: #b3dcde;
  --replybkg: #7646ff;
  --contacts: #7dc5cd;
  --gradientleft: rgba(90, 50, 230, 0.9);
  --gradientright: rgba(173, 83, 240, 0.8);
  --background-secondary-alt: #2e3440 !important;
}

.Y4MkVr6trrdypfZVUkpIA,
._2vkeRJojnV7cb9pMlPHy7d {
  background-color: var(--pagecolor);
  border-bottom: 1px solid var(--pagecolor);
}

._2xQx4j6lBnDGQ8QsRnJEJa,
._2xQx4j6lBnDGQ8QsRnJEJa:hover {
  background-color: #333c4c !important;
  border: 1px solid #333c4c !important;
  color: var(--whitetext);
}

g {
  fill: #fff !important;
}

.q4a8asWOWdfdniAbgNhMh,
._3JDs8KEQIXSMn1bTF2ZqJ_ {
  background-color: var(--pagecolor) !important;
}

._2yYPPW47QxD4lFQTKpfpLQ {
  color: var(--whitetext) !important;
}

._1O30sSXmfkKMRZqSaESf0S._1YpJV_aDQqujwuofx9-eAX.uGdFXCHH-nwVp4gU3UaTw,
._2NJL-agPg8YnfLMLdMbED5._1YpJV_aDQqujwuofx9-eAX.uGdFXCHH-nwVp4gU3UaTw,
._2wtKbmW1aPrT3MyHoaupQh._1YpJV_aDQqujwuofx9-eAX.uGdFXCHH-nwVp4gU3UaTw {
  color: var(--whitetext) !important;
}

._2OMsln4_sqrfHjufgGCeio,
.Mh_Wl6YioFfBc9O1SQ4Jp.Mh_Wl6YioFfBc9O1SQ4Jp {
  border: 4px solid var(--pagecolor) !important;
}

._2L5G9B5yaoqW3IegiYN-FL {
  background: var(--pagecolor) !important;
}

._3ozFtOe6WpJEMUtxDOIvtU {
  background-color: var(--pagecolor) !important;
}

/* MAIN CONTENT */
.wBtTDilkW_rtT2k5x3eie {
  background: #333c4c !important;
  border: 1px solid #333c4c !important;
}

._2PAz5_NMDCV5XtywB9mVpg._1s79QnBguPbckxiiPvFXGP {
  background: #333c4c !important;
  border: 1px solid #333c4c !important;
  color: var(--whitetext) !important;
  fill: var(--whitetext) !important;
}

._1poyrkZ7g36PawDueRza-J ._11R7M_VOgKO1RJyRSRErT3 {
  background: #333c4c !important;
}
