<!DOCTYPE html>
<html lang="en-US" dir="auto">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nord Web Themes Dashboard</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <script defer src="index.js"></script>
  </head>
  <body>
    <main>
      <div class="content">
        <div class="_heading">
          <h1>Nord Web Themes</h1>
        </div>
        <div class="_options">
          <!-- Discord -->
          <span>Discord.com</span>
          <label class="switch">
            <input type="checkbox" id="discord" />
            <span class="slider round"></span>
          </label>
          <br /><br />
          <!-- Github -->
          <span>Github.com</span>

          <label class="switch">
            <input type="checkbox" id="github" />
            <span class="slider round"></span>
          </label>
          <br /><br />
          <!-- Youtube -->
          <span>Youtube.com</span>

          <label class="switch">
            <input type="checkbox" id="youtube" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <p>
        Please note that this option is on beta mode ,<br />
        meaning it will not work.
      </p>
    </main>
    <footer>
      <div style="margin-top: 30px">
        <a
          href="https://github.com/Ryan-da-ghost/Nord-Web-Themes/graphs/contributors"
          target="_blank"
        >
          Hand Made With
          <span style="width: 20px; height: 20px">&hearts;</span>
        </a>
      </div>
    </footer>
  </body>
</html>
